.list_container {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 0;
  background-color: lighten(#e3edf7, 3%);
  padding: 20px;
}

.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: -10px;

  & > div {
    width: calc(25% - 10px);
    background-color: white;
    border-radius: 5px;
    min-height: 200px;
  }
}
