.header {
  width: 100%;

  &_inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }

  &_title {
    color: #6d7f8f;
    font-size: 28px;
    text-transform: uppercase;
  }
}
